thead {
  background: #26afab;
  color: white;
}

table {
  border-collapse: initial;
  border: solid black 1px;
  border-radius: 6px;
  overflow: hidden;
  table-layout: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.027);
}

