@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");

h2 {
  font-size: 15px;
  text-align: center;
  font-weight: bolder;
}

#RecentAppConfigList {
  background-color: #f8f8f8;
  font-family: "Mulish", sans-serif;
  font-size: 15pt;
}

div {
  font-size: 15px;
}

#recent-app,
#pending-app {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #f8f8f8;
  width: 100%;
  justify-content: space-between;
  table-layout: fixed;
}

#recent-app th {
  font-weight: bold;
}

#PendingAppConfigList {
  background-color: #f8f8f8;
  font-family: "Mulish", sans-serif;
  font-size: 15pt;
}
