@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");

.audit-1 h1 {
  font-size: 30px;
  font-family: "Mulish", sans-serif;
  margin-inline: 30%;
  display: flex;
  margin-bottom: 10px;
}

.export {
  display: flex;
  float: right;
  vertical-align: middle;
}

.export-1 {
  display: flex;
  float: right;
  margin-right: 80px;
  vertical-align: middle;
  margin-bottom: 0px;
}

.table-audit {
  font-family: "Mulish", sans-serif;
  border-collapse: collapse;
  width: 95%;
  border: 1px solid black;
  background-color: white;
  margin-right: 100px;
  margin-top: 0px;
}

.th-a1 {
  border-bottom: 1px solid black;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: black;
  margin: 60px;
}

td,
th {
  padding: 15px;
  text-align: left;
}

tr:hover {
  background-color: #ddd;
}

.action-column td {
  width: max-content;
}

.audit-1 {
  background-color: white;
  margin: 190px 5px 80px 50px;
  flex: center;
}

.page-a1 {
  float: left;
  margin: 250px 150px 500px 800px;
  flex: center;
  vertical-align: middle;
  display: flex;
}
