#WordFilterListCC {
  display: flex;
  width: 90%;
  height: 100%;
  margin-top: 10%;
  margin-left: 5%;
  position: relative;
}

#word-filter-list table {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  table-layout: fixed;
}

#word-filter-list thead {
  background-color: #38b09d;
  font-size: 24px;
  color: white;
}

#word-filter-list .tdashboard {
  background-color: #f3f3f3;
  color: black;
}

#word-filter-list .title {
  display: inline;
  float: left;
  font-size: 40px;
  padding: 20px;
}

#word-filter-list .desc {
  display: inline;
  float: left;
  text-align: left;
  font-size: 18px;
  padding: 20px;
}

#word-filter-list tbody tr td {
  font-size: 18px;
  vertical-align: middle;
}

#word-filter-list tfoot {
  background-color: #38b09d;
  height: 68px;
}

#WordFilterListCC .pageBar {
  float: right;
  margin-top: 2%;
}

@media only screen and (max-width: 700px) {
  #word-filter-list {
    width: 600px;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 900px) {
  #word-filter-list {
    width: 820px;
    display: flex;
    flex-direction: column;
  }
}
