.dropdown{
    display: inline-block !important;
    cursor: pointer !important;
}

.dropdown-menu{
    position: absolute !important;
    background-color: #f9f9f9 !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;
    z-index: 1 !important;
    min-width: 150px !important;
}

.pageBar{
    float: right;
    border: solid black;
}

table{
    border: solid black;
    width: 100%;
}