@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");

* {
  /* font-size: 50px; */
  font-family: "Mulish";
}
.midnav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f4f1f1;
  position: fixed;
  width: 100%;
}

.container-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.nav-1 {
  display: flex;
  margin: 15px 15px;
}

.nav-2 {
  display: flex;
  margin: 15px 15px;
}

.nav-3 {
  display: flex;
  margin: 15px 15px;
}
