@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");

h1 {
  font-size: 30px;
  font-family: "Mulish", sans-serif;
}

#faq {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
  background-color: white;
}

#faq th {
  border-bottom: 1px solid black;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: black;
}

#faq td,
#faq th {
  padding: 8px;
  text-align: left;
}

#faq tr:hover {
  background-color: #ddd;
}

.action-column td {
  width: max-content;
}

.faq-list-component {
  background-color: white;
  margin: 15px 15px;
}
