@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@20;200;500;711;898&display=swap');

h2{
  font-family: 'Mulish', sans-serif;
  font-weight: 898;
}

.container{
  background-color:#EDEDED;
  font-family: 'Mulish', sans-serif;
  right: 100px;
  margin: 0;
  margin-bottom: 50px;
  padding:50px;
}

.dropdown {
  float: right;
  position: relative;


}
.feedbackList{
  background-color: #FFFBFB;
  font-family: 'Mulish', sans-serif;
  right: 100px;
  margin: 30;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 30px;
}

.feedbackList tr, td{
  text-align: justify;
  padding: 10px;
  width: auto;
}

.feedbackList th{
  text-align:left;
  float: left;
  padding-left: 10px;
  vertical-align: center;
}
.feedbackList img{
  height: 35px;
  width:35px;
  float: left;
  display: block;
}

.read{
  float: right;
  display: inline-block;
  text-align: center;
  font-size: 10px;
  position: relative;
}

.read table{
  float:right;
}

.read td{
  text-align: left;
  width: auto;
  float: left;
  position: relative;
  padding: 10px;
}
.read img{
  float: right;
  width:13px;
  height: 15px;
}
.read button{
  background: none;
  border: none;
  color: blue;
}

.HeaderName{
  vertical-align: center;
}







