#FAQListCC {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 1%;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

#FAQListCC table {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  table-layout: auto;
}

#FAQListCC thead {
  background-color: #38b09d;
  font-size: 24px;
  color: white;
}

#FAQListCC .tdashboard {
  background-color: #f3f3f3;
  color: black;
}

#FAQListCC .title {
  display: inline;
  float: left;
  font-size: 48px;
  padding: 20px;
}

#FAQListCC tbody tr td {
  font-size: 18px;
  vertical-align: middle;
}

#FAQListCC tfoot {
  background-color: #38b09d;
  height: 68px;
}

#FAQListCC .pageBar {
  float: right;
}

#FAQListCC .desc {
  display: inline;
  float: right;
  text-align: right;
  font-size: 18px;
  padding: 20px;
}
