/* overall */
.FeedbackList-EU {
  display: inline-block;
  width: 90%;
  height: 100%;
  margin-top: 3%;
  margin-left: 5%;
}

/* table for data (grey) */
table {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  table-layout: fixed;
  text-align: center;
}

/* attribute name */
thead {
  text-align: center;
  background-color: #38b09d;
  font-size: 18px;
  color: white;
}

/* table dashboard*/
.tdashboard {
  background-color: #f3f3f3;
  color: black;
}

/* number on table dashboard */
.title {
  display: inline;
  float: left;
  font-size: 40px;
  padding: 20px;
}

/* data in table (grey) */
tbody tr td {
  font-size: 18px;
  vertical-align: middle;
}

/* table footer */
tfoot {
  background-color: #38b09d;
  height: 68px;
}

/* description on table footer */
.foot {
  float: left;
  margin-top: 10px;
  margin-left: 40px;
  font-weight: normal;
  font-size: 18px;
  color: white;
}

/* pagination */
.pageBar {
  float: right;
}

/* link */
a {
  color: #2636c9;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

/* dropdown for rating */
.dropbtn {
  background-color: #f3f3f3;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown:hover .dropdown-content {
  display: inline-block;
  background-color: #f3f3f3;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content img {
  width: 60%;
  height: 60%;
}

.dropdown-content a {
  padding: 10px 10px;
  text-decoration: none;
  display: inline-block;
}

.dropdown-content a:hover {
  background-color: white;
}
