@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

/* base styles */
* {
  margin: 0;
  font-family: "Mulish";
}

.fraud-title {
  font-size: 38px;
  font-family: "Mulish", sans-serif;
  text-align: center;
  margin-top: 10px;
}

#fraud {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 1px solid black;
  background-color: white;
  height: 100px;
  margin: 20px;
  text-align: center;
  margin-left: 320px;
  width: 60%;
  margin-top: 100px;
}

#fraud th {
  border-bottom: 1px solid black;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: white;
  color: black;
}

#fraud td,
#fraud th {
  padding: 8px;
  text-align: center;
}

#fraud tr:hover {
  background-color: #ddd;
}

.action-column td {
  width: max-content;
}

.fraud-management-component {
  background-color: white;
  margin: 15px 15px;
}

.dropdown {
  width: 25px;
}

.checkbox {
  width: 30px;
}

.action-column td {
  width: max-content;
}

.fraud-management-component {
  background-color: white;
  margin: 15px 15px;
}

.fraud-management-component button {
  margin-right: 300px;
}

.pageBar {
  margin-left: 1090px;
}

#id,
#term img {
  cursor: pointer;
}
