@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

/* base styles */
* {
  margin: 0;
  font-family: "Mulish";
}

.fraud-title {
  font-size: 38px;
  font-family: "Mulish", sans-serif;
  align-items: flex-start;
  margin-top: 200px;
  margin-left: 370px;
}

#fraud {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  border-collapse: collapse;
  width: 1000px;
  background-color: white;
  margin: 5px;
  margin-right: 4550px;
  margin-left: 380px;
  overflow-x: hidden;
}

#fraud th {
  border-bottom: 1px solid black;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: white;
  color: black;
}

#fraud td,
#fraud th {
  width: auto;
  text-align: center;
}

#fraud tr:hover {
  background-color: #ddd;
}

.action-column td {
  width: max-content;
}

.fraud-management-component {
  background-color: white;
  margin: 15px 15px;
}

.fraud-management-component button {
  margin-left: 10px;
}

.pageBar {
  margin-left: 1250px;
  margin-top: 15px;
}

#id,
#term {
  cursor: pointer;
}
